<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Team Leader</h1>
            <span><address>!frappant, Bern, CH</address><time>2016 to Present</time></span>
        </header>
        <p>I work with TYPO3 (5 Years) and am Team Leader @ !frappant. </p>
    </article>
    <article>
        <header>
            <h1>Backend Developer & Project Leader</h1>
            <span><address>!frappant, Bern, CH</address><time>2016 to 2016</time></span>
        </header>
        <p>I started focusing on BE and Project Leading.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>!frappant, Bern, CH</address><time>2011 to 2016</time></span>
        </header>
        <p>I used to work as a full stack Web Developer.</p>
    </article>
    <article>
        <header>
            <h1>Junior System Engineer</h1>
            <span><address>Lantal Textiles, Langethal, CH</address><time>2009 to 2011</time></span>
        </header>
        <p>I used to work as a System Engineer for a company with around 200 employees.</p>
    </article>
    <article>
</section>